/*----------------------------- Hintergrundbild----------------------------- */
body  {
  background-image: url("Bilder/street.jpg");
  background-color: #cccccc;
}
/*----------------------------- Tabellendarstellung----------------------------- */
table, td
{
	border-bottom: 1px solid green;
	text-align: left;
	padding: 5px;
}

th
{
	background-color: #00b058;
	padding: 5px; 
	text-align: center;
}

tr:hover 
{
	background-color: #9bff9b;
}

/*----------------------------- Modal Popup-Display ----------------------------- */
#einfuegeTable
{
	text-align: left;
/*------------------- Zentriert die Einfüge-Tabelle ---------------------*/
	margin-left: auto;
	margin-right: auto;
}

.modal 
{
	display: none; 
	position: fixed;
	z-index: 1; 
	padding-top: 100px; /
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

/* Modal Inhalt */
.modalInhalt 
{
 	background-color: #ffffc6;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
}

/* Button zum schliessen*/
.kreuz 
{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.kreuz:hover,
.kreuz:focus 
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/*----------------------------- Buttondarstellung ----------------------------- */

.button
{
	border-radius: 4px;
	transition-duration: 0.3s;
	cursor: pointer;
	
}

.button:hover {
  background-color: #9bff9b;
  color: black;
}